<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>DAWNIMALS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher> -->
  <ion-slides pager="true">
    <ion-slide *ngFor="let animal of this.animales; let i = index">
      <ion-card>
        <img src="{{animal.imagen}}" />
        <ion-card-header>
          <ion-card-subtitle>Animal</ion-card-subtitle>
          <ion-card-title>{{animal.nombre}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-fab horizontal="end" vertical="bottom" (click)="addAnimal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>