<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" text="Exit" icon=""></ion-back-button>
    </ion-buttons>
    <ion-title>DAWNIMALS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/gato.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Cat</h2>
        <ion-icon name="play" class="ion-float-right ion-margin-bottom"></ion-icon>
        <p>mammal</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/perro.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Dog</h2>
        <ion-icon name="play" class="ion-float-right ion-margin-bottom"></ion-icon>
        <p>mammal</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/mono.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Monkey</h2>
        <ion-icon name="play" class="ion-float-right ion-margin-bottom"></ion-icon>
        <p>mammal</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>