<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon="" (click)="toggleReorderGroup()">Edit</ion-button>
    </ion-buttons>
    <ion-title>DAWNIMALS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="{{activacion}}">
      <ion-item-sliding *ngFor="let animal of this.animales; let i = index" (click)="infoAnimal(animal)">

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteAnimal(i)">
            <ion-icon slot="top" name="trash"></ion-icon>
            Delete
          </ion-item-option>
          <ion-item-option color="primary" (click)="editAnimal(animal, i)">
            <ion-icon slot="top" name="create"></ion-icon>
            Edit
          </ion-item-option>
        </ion-item-options>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="{{animal.imagen}}"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{animal.nombre}}</h2>
          </ion-label>
            <ion-reorder slot="end"></ion-reorder>
            <div class="{{visibility}}">
              <ion-icon name="pause" (click)="stopSound(animal)"
                *ngIf="animal.reproduciendo; else elseBlock"></ion-icon>
              <ng-template #elseBlock>
                <ion-icon name="play" (click)="makeSound(animal)"></ion-icon>
              </ng-template>
            </div>
            <p></p>
        </ion-item>

      </ion-item-sliding>
    </ion-reorder-group>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" (click)="addAnimal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>