<ion-content>
  <ion-img id="img" src="../../assets/shapes.svg"></ion-img>
  <ion-item class="input">
    <ion-label position="floating">Username</ion-label>
    <ion-input disabled="{{disableInput}}"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating">Password</ion-label>
    <ion-input disabled="{{disableInput}}"></ion-input>
  </ion-item>
  <ion-button id="btn" color="dark" expand="block">Login</ion-button>
  <a href="#" id="link">Forgot your password?</a>
  <ion-toggle [(ngModel)]="disableInput" (ionChange)="notify()"></ion-toggle>
</ion-content>